/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue LT Arabic 55 Roman';
   }
   body {
    font-family: sans-serif;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
   .left{
       
       text-align: left;
   }
   .right{
       
       text-align: right;
   }

   .top-nav {
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
    background-color: #fff;
    }
    .top-social{
        text-align: left;
        margin: 20px;
    }
    .top-social li{
        list-style: none;
        display: inline-flex;
    }
    .top-nav .left .top-social li:after {
        position: absolute;
        right: -32px;
        top: 0;
        width: 1px;
        height: 100%;
        background: #e5e5e5;
        content: "";
    }
    .top-social a{
        margin: 10px;
        color: #000;
        font-weight: 100;
    }
    .top-social i{
        color: #468b77;
        padding-left: 10px;
    }

   /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    color: #fff;
    
    margin-left: 100px;
   }
   .nav-links a {
    color: #000;
   }
   /* LOGO */
   .logo {
    font-size: 32px;
    margin-left: 55px;
    margin-top: 0px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #4b7c6d;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li:hover a{
       color: #fff;
   }
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #4b7c6d;
   }
   .services:hover .dropdown {
    display: block;
   }

   .container {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    color: #4b7c6d;
   }
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:#4b7c6d;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    
   }
   .nav-links a{
    color: #fff;
    }
   .menu li:hover {
    display: inline-block;
    background-color:#4b7c6d;
    transition: 0.3s ease;
    color: #fff;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #4b7c6d;
   }
   }   

.wrapper{
    width: 90%;
    margin: 0 auto;
}   

.banner-area{
    background-color: #4b7c6d;
    background-size: cover;
    background-position: center center;
    height: 10.75vh;
    width: 97%;
    text-align: center;
    margin: 13px;

}
.banner-area a{
    padding-top: 1%;
    font-size: 20px;
    color: #fff;
    padding-right: 10px;
    padding-left: 20px;
}
.banner-area .banner-content social{
    text-align: right;
}
.banner-area .banner-content other{
    padding: 10px;
}
.content-area img{
    width: 97%;
}
/* 
.banner-area:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #4b7c6d;
    opacity: .7;
    z-index: -1;
} */

